body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0B0F14, #111827);
  color: white;
  text-align: center;
  padding: 20px;
}


button {
  padding: 12px 20px;
  margin: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #19BFB7;
  color: black;
}


button:focus {
  outline: 3px solid yellow;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 260px;
  max-width: 80%;
  height: auto;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.05);
}

.subtitle {
  font-size: 14px;
  color: #9CA3AF;
}

#paleta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.color {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.color:hover {
  transform: scale(1.05);
}

.color span {
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  font-size: 14px;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(4px);
  display: flex;
  flex-direction: column;
  gap: 2px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;

  background: rgba(20,20,20,0.95);
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.tooltip.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(20,20,20,0.95) transparent transparent transparent;
}

.tooltip button {
  background: transparent;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s;
}

.tooltip button:hover {
  background: #19BFB7;
  color: #0B0F14;
}

/* COLOR BLOQUEADO */
.color.locked {
  outline: 3px solid #19BFB7;
  outline-offset: -3px;
  box-shadow: 0 0 10px rgba(25, 191, 183, 0.7);
}

/* TOAST */
#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
}

#toast.show {
  opacity: 1;
}.cantidad-botones {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-cantidad {
  padding: 8px 14px;
  border-radius: 6px;
  background: #1f2937;
  color: white;
  border: 1px solid #374151;
  cursor: pointer;
}

.btn-cantidad.active {
  background: #19BFB7;
  color: #0B0F14;
}