body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#paleta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.color {
  width: 100px;
  height: 100px;
  background: gray;
}
